<script lang="ts">
  import ResponsiveIframe from "$lib/ResponsiveIframe.svelte"

  export let youtubeID: string
  export let previewTitle: string
  export let maxResolutionThumbnailAvailable = true
  let shouldLoadVideo = false
</script>

{#if shouldLoadVideo}
  <ResponsiveIframe
    title="YouTube"
    width="560"
    height="315"
    src={`https://www.youtube-nocookie.com/embed/${youtubeID}?rel=0&autoplay=1`}
    frameBorder="0"
    allow="encrypted-media; picture-in-picture; autoplay"
    allowFullScreen
    {...$$restProps}
  />
{:else}
  <a
    href={`https://www.youtube.com/watch?v=${youtubeID}`}
    on:click={(e) => {
      e.preventDefault()
      shouldLoadVideo = true
    }}
  >
    <picture>
      <source
        srcset={`https://i.ytimg.com/vi_webp/${youtubeID}/${
          maxResolutionThumbnailAvailable ? "maxres" : "hq"
        }default.webp`}
        type="image/webp"
      />
      <img
        src={`https://i.ytimg.com/vi/${youtubeID}/${
          maxResolutionThumbnailAvailable ? "maxres" : "hq"
        }default.jpg`}
        width="480"
        height="360"
        alt="Thumbnail for video {previewTitle}"
      />
    </picture>
    <p>{previewTitle}</p>
    <span>▶</span>
  </a>
{/if}

<style>
  a {
    display: grid;
    text-decoration: none;
    align-items: center;
    background-color: black;
    width: var(--iframe-width);
  }

  a:hover {
    opacity: 0.96;
  }

  picture,
  img,
  p,
  span {
    width: var(--iframe-width);
    grid-area: 1 / 1;
  }

  p,
  span {
    color: white;
    text-shadow: 0 0 0.5em black;
  }

  p {
    font-weight: bold;
    align-self: start;
    margin: 0;
    padding: 1.5em;
    font-size: 1.2rem;
  }

  picture,
  img {
    object-fit: cover;
    height: calc(var(--iframe-width) / var(--iframe-aspect-ratio));
    max-height: min(100vh, calc(var(--max-width) / var(--iframe-aspect-ratio)));
  }

  span {
    text-align: center;
    font-family: sans-serif;
    font-size: 5em;
  }
</style>
