<footer>
  <div class="container">
    <div class="scripture">
      <p>
        “When you reap the harvest of your land, do not reap to the very edges of your field or
        gather the gleanings of your harvest. Leave them for the poor and for the foreigner residing
        among you. I am the Lord your God.”
      </p>
      <p>Leviticus 23:22</p>
    </div>
    <p class="non-profit">Ruth's Gleanings, a registered 501(c)(3)</p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--light-grey);
  }

  .container {
    --max-width: 1100px;
    flex-grow: 1;
  }

  .scripture {
    margin: 0 0 1.5rem;
    font-size: 0.85rem;
  }

  .scripture p {
    margin: 0.5rem 0;
  }

  .non-profit {
    margin: 0;
    font-size: 0.7rem;
  }
</style>
