<script lang="ts">
  import { enhanceForm, FormFieldType } from "$lib/form-utilities"

  export let action: string
  export let submitText = "Submit"
  export let formFields: FormFieldType[]
  export let error: string | undefined = undefined
  export let submitted = false
  export let success = false
</script>

<section>
  <form
    method="post"
    {action}
    use:enhanceForm={{
      handlePending: () => {
        error = undefined
        submitted = true
        success = false
      },
      handleResult: () => {
        error = undefined
        success = true
      },
      handleError: (responseText, err) => {
        error = responseText || err?.message
        success = false
      },
    }}
  >
    {#if formFields.includes(FormFieldType.Name)}
      <p>
        <label>
          Name: <strong><abbr title="required">*</abbr></strong>
          <input name="name" type="text" required />
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.Email)}
      <p>
        <label>
          Email: <strong><abbr title="required">*</abbr></strong>
          <input name="email" type="email" required />
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.Phone)}
      <p>
        <label>
          Phone #:
          <input name="phone" type="tel" />
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.Address)}
      <p>
        <label>
          Address
          <textarea name="address" cols="30" rows="2" />
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.ContactMethod)}
      <p>
        <label>
          Best way to contact you:
          <select name="contactMethod">
            <option value="phone">Phone call</option>
            <option value="text">Text message</option>
            <option value="email">Email</option>
          </select>
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.Affiliation)}
      <p>
        <label>
          Affiliated organization (if applicable):
          <input name="affiliation" type="text" />
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.Involvement)}
      <p>
        <label>
          How do you want to be involved?
          <select name="involvement">
            <option value="pack">Pack FoodShare boxes</option>
            <option value="office">Office help</option>
            <option value="transport">Food pickup/delivery</option>
            <option value="glean">Glean on farms</option>
            <option value="other">Other / Not sure</option>
          </select>
        </label>
      </p>
    {/if}
    {#if formFields.includes(FormFieldType.Availability)}
      <p>
        <label>
          What days and times of the week are you available?
          <textarea name="availability" cols="30" rows="2" />
        </label>
      </p>
    {/if}

    <p>
      <button type="submit" id="submit" disabled={submitted && error == undefined}
        >{submitText}</button
      >
    </p>

    {#if submitted}
      {#if success}
        <p style="color: green">Submitted successfully!</p>
      {:else if error != undefined}
        <p style="color: red">
          Error submitting form; please check your information and try again.
          <br />
          {error}
        </p>
      {/if}
    {/if}
  </form>
</section>
