<script lang="ts">
  import Form from "$lib/Form.svelte"
  import { FormFieldType } from "$lib/form-utilities"
  export let formError: string | undefined = undefined
  export let formSubmitted = false
</script>

<section>
  <h1>Join Our Mailing List</h1>
  <Form
    action="/api/newsletter"
    formFields={[FormFieldType.Name, FormFieldType.Email]}
    submitText="Subscribe"
    error={formError}
    submitted={formSubmitted}
    success={formError == undefined}
  />
</section>
