<script>
  import { page } from "$app/stores"
</script>

<nav>
  <ul>
    <li><a sveltekit:prefetch class="home" title="Home" href="/">&nbsp;</a></li>
    <li class="blank" />
    <li class:active={$page.path === "/foodshare"}>
      <a sveltekit:prefetch href="/foodshare">FoodShare</a>
    </li>
    <li class:active={$page.path === "/cooking"}>
      <a sveltekit:prefetch href="/cooking">Cooking Videos</a>
    </li>
    <li class:active={$page.path === "/gleaning"}>
      <a sveltekit:prefetch href="/gleaning">Gleaning</a>
    </li>
    <li class:active={$page.path === "/our-team"}>
      <a sveltekit:prefetch href="/our-team">Our Team</a>
    </li>
    <li class:active={$page.path === "/volunteer"}>
      <a sveltekit:prefetch href="/volunteer">Volunteer</a>
    </li>
    <li>
      <a href="https://medium.com/@ruthsgleanings" rel="external noopener" class="external-link">
        <span>Blog</span><svg viewBox="0 0 576 512">
          <path
            d="M576 24v128c0 21-26 32-41 17l-36-36-243 244c-10 9-25 9-34 0l-23-23c-9-9-9-24 0-34L443
            77l-36-36c-15-15-4-41 17-41h128c13 0 24 11 24 24zM407 271l-16 16a24 24 0 0 0-7
            17v144H64V128h264a24 24 0 0 0 17-7l16-16c15-15 4-41-17-41H48C22 64 0 86 0 112v352c0 27
            22 48 48 48h352c27 0 48-21 48-48V288c0-22-26-32-41-17z"
          />
        </svg>
      </a>
    </li>
    <li>
      <a href="/donate" rel="external noopener" class="external-link">
        <span>Donate</span><svg viewBox="0 0 576 512">
          <path
            d="M576 24v128c0 21-26 32-41 17l-36-36-243 244c-10 9-25 9-34 0l-23-23c-9-9-9-24 0-34L443
            77l-36-36c-15-15-4-41 17-41h128c13 0 24 11 24 24zM407 271l-16 16a24 24 0 0 0-7
            17v144H64V128h264a24 24 0 0 0 17-7l16-16c15-15 4-41-17-41H48C22 64 0 86 0 112v352c0 27
            22 48 48 48h352c27 0 48-21 48-48V288c0-22-26-32-41-17z"
          />
        </svg>
      </a>
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--brown);
    display: flex;
    justify-content: center;
  }

  ul {
    --max-width: 1100px;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  li {
    display: flex;
    white-space: nowrap;
    user-select: none;
    --link-padding: 1rem;
  }

  .home {
    /* image's height is based on height of nav links */
    background-image: url("https://res.cloudinary.com/mayfield/image/upload/f_auto,q_auto/v1519265390/ruths-gleanings-logo");
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: content-box;
    padding: 0.3rem var(--link-padding);
    width: 5.5rem;
  }

  .blank {
    flex-grow: 1;
  }

  a {
    font-weight: bold;
    color: var(--light-green);
    text-decoration: none;
    text-align: center;
    padding: var(--link-padding);
    flex-grow: 1;
  }

  @media (hover: hover) {
    a:hover {
      background-color: var(--light-brown);
    }
  }

  a:active {
    background-color: var(--lighter-brown);
  }

  .active a {
    position: relative;
    display: inline-block;
  }

  .active a::after {
    position: absolute;
    display: block;
    content: "";
    background-color: var(--redorange);
    width: calc(100% - 2 * var(--link-padding));
    height: 3px;
    bottom: 0;
  }

  .external-link {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: start;
  }

  .external-link svg {
    width: 0.8rem;
    margin-left: 0.1rem;
  }

  .external-link svg path {
    fill: var(--light-green);
  }

  @media (max-width: 900px) {
    ul {
      flex-wrap: wrap;
    }

    li {
      flex-grow: 1;
      min-width: 22vw;
    }

    .blank {
      flex-grow: 0;
      min-width: 0;
    }
  }
</style>
