<script lang="ts">
  export let title: string
</script>

<iframe {title} {...$$restProps} />

<style>
  iframe {
    background-color: black;
    width: var(--iframe-width);
    height: calc(var(--iframe-width) / var(--iframe-aspect-ratio));
    max-height: min(100vh, calc(var(--max-width) / var(--iframe-aspect-ratio)));
  }
</style>
