<script lang="ts">
  import "@fontsource/raleway/latin-400.css"
  import "@fontsource/raleway/latin-700.css"
  import "../app.css"

  import { GITLAB_MERGE_REQUEST_ID, GITLAB_PROJECT_ID, GITLAB_PROJECT_PATH } from "$lib/variables"
  import Footer from "$lib/Footer.svelte"
  import Nav from "$lib/Nav.svelte"
</script>

<svelte:head>
  {#if GITLAB_MERGE_REQUEST_ID && GITLAB_PROJECT_ID && GITLAB_PROJECT_PATH}
    <script
      defer
      data-merge-request-id={GITLAB_MERGE_REQUEST_ID}
      data-project-id={GITLAB_PROJECT_ID}
      data-project-path={GITLAB_PROJECT_PATH}
      data-mr-url="https://gitlab.com"
      id="review-app-toolbar-script"
      src="https://gitlab.com/assets/webpack/visual_review_toolbar.js"></script>
  {/if}
</svelte:head>

<div class="container">
  <Nav />

  <main>
    <slot />
  </main>

  <Footer />
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  main > :global(section) {
    padding: 2rem;
    --max-width: 1100px;
    width: 100%;
  }
</style>
