<script>
  import EmbeddedVideo from "$lib/EmbeddedVideo.svelte"
</script>

<section>
  <h1>Cooking Classes</h1>
  <p>
    Welcome to the virtual video series, <b>Cooking Up Confidence: Skills in the Everyday Kitchen</b
    >, created for community use in South Carolina. The
    <a href="https://www.spartanburgfoodsystem.org">Spartanburg Food System Coalition</a>
    has partnered with
    <a href="https://www.heart.org/en/affiliates/north-carolina/triad-region/triad-mobile-kitchen"
      >Chef N’Gai Dickerson, an American Heart Association-certified chef</a
    >, to provide an opportunity for community organizations to be trained on how to teach basic
    cooking and nutritional skills virtually, focusing on the contents of a FoodShare box.
  </p>
  <p>
    The purpose of these classes are to help participants gain confidence in their own kitchen and
    to give them the skills needed to create healthy, delicious meals most nights of the week.
    Preparing more healthy meals at home will help people increase their fruit and vegetable
    consumption and spend less money on eating out.
  </p>
  <p>
    We have heard from the community that cooking and nutrition skills are a vital part of
    individuals being able to make the healthy choice the easy choice. This program gives community
    facilitators without a culinary background the ability to teach basic cooking skills within
    their communities. These classes are also meant to be a resource for families utilizing
    FoodShare.
  </p>
  <p>Each video includes 5 components:</p>
  <ul>
    <li>Food Safety</li>
    <li>Cooking Methods</li>
    <li>Cooking Skills</li>
    <li>Food Storage Tips</li>
    <li>Nutrition</li>
  </ul>
</section>

<section class="container" style="--max-width: calc(800px * 2 + 4rem + 1rem)">
  <div class="row">
    <div class="wrapper">
      <EmbeddedVideo youtubeID="0XV3Ql5r0_g" previewTitle="#1 Chicken Fajita" />
    </div>
    <div class="wrapper">
      <EmbeddedVideo youtubeID="NeQAZFfIqYg" previewTitle="#2 Baked Apples" />
    </div>
  </div>
  <div class="row">
    <div class="wrapper">
      <EmbeddedVideo youtubeID="kHffa7SkLOk" previewTitle="#3 Braised Chicken" />
    </div>
    <div class="wrapper">
      <EmbeddedVideo youtubeID="ruk7DFID2AI" previewTitle="#4 Cauliflower Mash" />
    </div>
  </div>
</section>

<style>
  .row {
    display: grid;
    margin-bottom: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .wrapper {
    display: contents;
    --iframe-width: calc(50vw - 4rem);
    --max-width: 800px;
  }

  @media (max-width: 900px) {
    .row {
      grid-template-columns: 1fr;
    }

    .wrapper {
      --iframe-width: calc(100vw - 4rem);
    }
  }
</style>
