<section>
  <h1>FoodShare Spartanburg</h1>
  <p>
    Ruth's Gleanings is excited to increase access to healthy, fresh food through FoodShare
    Spartanburg, a branch of <a href="https://foodsharesc.org/" target="_blank" rel="noopener"
      >FoodShare South Carolina</a
    >. The mission is to bring good, healthy food for all. We work with local and regional farmers
    and distributors to procure the freshest produce for our food boxes, strengthening the local
    food system as well as providing the most nutritious ingredients for our FoodShare customers.
  </p>
  <p>
    FoodShare Spartanburg is a bi-weekly box of produce that contains 9 to 12 varieties of seasonal
    and mostly regionally grown fruits and vegetables. In partnership with <a
      href="http://clemsonsnaped.com/"
      target="_blank"
      rel="noopener">Clemson SNAP-Ed,</a
    > healthy recipes utilizing the produce are also included in your FoodShare box. On average, the
    food box contains 15 to 20 pounds of produce at a retail value of $20 to $30.
  </p>

  <h2>How It Works</h2>
  <p>
    The FoodShare Spartanburg produce box is distributed every other Wednesday and is available to
    anyone who pre-orders by 2:00pm on the Thursday prior to distribution. (see calendar below). The
    box is $15 cash. If you are a SNAP participant and use your SNAP card to purchase your box, your
    SNAP will be charged only $5 and you receive an instant $10 Healthy Bucks match to cover the
    rest of the cost.
  </p>
  <p>
    <img
      src="https://res.cloudinary.com/mayfield/image/upload/c_scale,h_100/v1570798605/healthybucks.png"
      alt="Healthy Bucks"
    />
  </p>
  <p>Stretch your food dollars with SNAP!</p>

  <h3>Boxes Must Be Ordered In Advance</h3>
  <p>
    Deadlines to order are <span style="color: red; font-weight: bold;">2:00pm</span> on the
    <span style="color: red; font-weight: bold;">Thursday</span> before the Wednesday pick-up (6 days
    ahead-of-time).
  </p>
  <p>
    On the calendar below,
    <br />
    <span style="color: red; font-weight: bold;">order deadlines</span>
    are marked in <span style="color: red; font-weight: bold;">red</span>
    <br />
    <span style="color: green; font-weight: bold;">pick-up dates</span>
    are marked in <span style="color: green; font-weight: bold;">green</span>
    <br />
    <span style="color: var(--orange); font-weight: bold;">holidays (CLOSED)</span>
    are marked in <span style="color: var(--orange); font-weight: bold;">orange</span>
  </p>
  <img
    src="https://res.cloudinary.com/mayfield/image/upload/c_scale,h_600/v1640136247/2022_Calendar_FoodShare_Spartanburg.png"
    alt="FoodShare calendar"
  />

  <h3>Ordering a Box</h3>
  <p>
    It's easy to order! Place your order by calling 864-586-2840, or order in person at the
    FoodShare Hub inside Ruth’s Gleanings at <a
      href="https://goo.gl/maps/EtqVr8bJYwuNLFCPA"
      target="_blank"
      rel="noopener">147 Chapel Street, Spartanburg SC 29303</a
    >
  </p>
  <ul>
    <li><a href="/FoodShare_2022_Brochure.pdf" target="_blank">FoodShare Spartanburg flyer</a></li>
    <li><a href="/FoodShare_2022_Brochure_Espanol.pdf" target="_blank">Folleto de FoodShare Spartanburg en español</a></li>
    <li>Office hours: Monday – Thursday 9:00-3:00, Friday 9:00-12:00</li>
    <li>
      Locations:
      <ul>
        <li>
          Downtown office - <a
            href="https://goo.gl/maps/EtqVr8bJYwuNLFCPA"
            target="_blank"
            rel="noopener">147 Chapel Street, Spartanburg SC 29303</a
          > in the Northside, behind Greater Spartanburg Ministries
        </li>
        <li>
          Food-Packing Hub - <a
            href="https://goo.gl/maps/fP4kjPHUWJnsi6MR6"
            target="_blank"
            rel="noopener">1021 Glenn Springs Road, Pacolet, SC 29372</a
          >
        </li>
      </ul>
    </li>
    <li>Phone number: Call 864-586-2840 for more information!</li>
    <li>
      Up-to-date information: <a
        href="https://www.facebook.com/FoodShareSpartanburg/"
        target="_blank"
        rel="noopener">FoodShare Spartanburg's Facebook page</a
      >
    </li>
  </ul>

  <h2>FoodShare Locations</h2>
  <p>
    FoodShare Spartanburg has partner sites that expand access to fresh food further into
    Spartanburg County. Orders can be placed at these partner sites and picked up from there if it
    is a closer location for you.
  </p>
  <p>
    Using the interactive map below, click/tap on the icons to find the location most convenient for
    you to pick up your food box order.
  </p>

  <iframe
    width="600"
    height="450"
    title="FoodShare Spartanburg locations"
    loading="lazy"
    src="https://www.google.com/maps/d/u/0/embed?mid=1-cvNiaQkbqpu3-meZYUszdUEs3iZqJWG&amp;ll=35,-82&amp;z=11"
    frameborder="0"
  />

  <p>
    If you are interested in becoming a FoodShare Spartanburg partner site, please contact <a
      href="mailto:foodshare@ruthsgleanings.com">foodshare@ruthsgleanings.com.</a
    >
  </p>
</section>

<style>
  iframe {
    width: calc(100vw - 4rem);
    height: 80vh;
  }
</style>
