<section id="about-us">
  <h1>About Us</h1>
  <p>
    Ruth's Gleanings is a food rescue and distribution service in Spartanburg, S.C. The program
    focuses on reclaiming excess fresh and healthy food, including produce, prepared meals, and
    perishable items that otherwise would be discarded. Once the food donations are secured, they
    are delivered to partner organizations that serve the poor and those who are considered food
    insecure.
  </p>
  <p>
    By most estimates, up to 40% of food produced in the United States is wasted and thrown away in
    landfills.
  </p>
  <p>
    At the same time 14% of the nations households are food insecure, which is 17.4 million
    households.
  </p>
  <p>
    A recent survey* in Spartanburg, S.C. shows some startling statistics when compared with the
    national average. This survey was conducted in the city limits of Urban Spartanburg, what is
    considered a food desert where the population has low access to healthy, whole foods.
  </p>
  <p>The average of food-insecure homes in Urban Spartanburg are as follows:</p>
  <ul>
    <li>64% have low food security</li>
    <li>32% have very low food security</li>
    <li>32% of children have food low or very low food security</li>
  </ul>
  <p>
    While food insecurity is high in the food deserts of Spartanburg, 52% are obese and 22% are
    overweight. This certainly indicates a lack of healthy, fresh food which causes nutritional
    poverty and insecurity!
  </p>
  <p>
    Ruth's Gleanings helps bridge this gap between food waste and nutritional insecurity. By
    rescuing healthy, perishable food that would otherwise be thrown away, this rescue program is
    set apart by addressing not just the hunger problem, but also the nutritional problem. Ruth's
    Gleanings partners with and collaborates with other organizations that meet the needs of the
    hungry by redirecting this higher quality nutritional food into their systems to supplement what
    they are already doing. As we tap into this waste stream of 40% of the food produced, and
    channel it towards the 14% of households with food insecurity, we create a bridge to healthier
    families and communities.
  </p>
  <h2>Why Ruth's Gleanings?</h2>
  <p>
    Ruth's Gleanings is different from other Food Bank organizations in that we primarily source
    healthy, whole foods, fruits and vegetables, and perishable prepared food. Our food is not put
    on shelves as it is consumed within a short period of time before being unusable. These
    gleanings are sought for their nutritional value, not just because it is something nobody wants.
    Nutritional insecurity and deficits in the target population to be serviced is the primary
    concern we want to address.
  </p>
  <h2>Impact</h2>
  <p>
    Ruth's Gleanings has an impact in the community of Spartanburg in three major areas -- social,
    environmental, and financial.
  </p>
  <h3>Social:</h3>
  <p>
    The collaboration of various businesses, organizations, churches, farmers, and schools has the
    effect of strengthening the fabric of a community. Also, obvious positive impact results when
    those in need are lifted up by being helped in areas they need it most. Bringing healthy food to
    those who are nutritionally insecure can change lives in multiple ways, including mentally,
    physically, and socially.
  </p>
  <h3>Environmental:</h3>
  <p>
    When 40% of the food produced is being thrown away, the environmental impact is very
    significant. Not only is this organic material filling up landfills, but the amount of natural
    resources wasted through production and transportation is staggering. We serve to redirect these
    resources in a way that makes the food supply more sustainable and at the same time reduces
    negative environmental impact by keeping what we procure out of the landfills.
  </p>
  <h3>Financial:</h3>
  <p>
    Our financial impact is multifaceted in that we bring money savings to our food donors through
    their tax deduction, as well as the money saved through less disposal cost for them. We also
    bring a positive financial impact to our beneficiaries when we supply food to their
    organizations at no cost to them. Finally, the financial burden of the individuals that are
    ultimately served with this healthy food is alleviated to the degree that their food cost is
    less. The ultimate goal of better health through healthy food is a benefit to the entire system
    as healthcare costs are reduced and lives are improved.
  </p>
</section>

<section id="partners">
  <h1>Partners</h1>
  <p>
    Ruth's Gleanings partners with various organizations who serve those with needs in the
    community. By partnering with us, they receive healthy fruits and vegetables, whole foods, and
    prepared meals to compliment the food services they already provide. We provide these services
    at no cost to partner organizations.
  </p>
  <p>Benefits for the partner:</p>
  <ul>
    <li>Free food</li>
    <li>Added nutrition for those they serve</li>
    <li>Save money on food supply</li>
    <li>Delivered to them for free</li>
  </ul>
</section>

<section id="food-donors">
  <h1>Food Donors</h1>
  <p>
    The food is gathered (gleaned) from a multitude of sources such as farms, farmer’s markets,
    community gardens, grocery stores, restaurants, hotels, banquet halls, corporate cafeterias,
    schools lunch providers, or any other food source that may have left-over perishable food that
    would go to waste. Ruth’s Gleanings will pick up the unused food as a service to the supplier.
  </p>
  <p>
    It is then delivered to partners such as food banks, soup kitchens, food pantries, community
    centers, faith-based groups, shelters and any other benevolent groups who serve in food deserts
    or otherwise service those in need.
  </p>
  <p>Benefits for the donor:</p>
  <ul>
    <li>Tax-deduction</li>
    <li>Save money on waste disposal</li>
    <li>Build community capital and brand recognition by giving back to community</li>
    <li>Environmental impact by less waste and less disposal</li>
    <li>
      Bill Emerson Good Samaritan Act: Passed by Congress in 1996 removes all liability in regard to
      food donations from donors if they take necessary precautions to ensure the safety of the
      food.
    </li>
  </ul>
</section>
