<script context="module" lang="ts">
  import type { Load } from "@sveltejs/kit"

  export const load: Load = ({ page }) => {
    if (page.query.has("submitted"))
      return {
        props: {
          formError: page.query.get("error"),
          formSubmitted: true,
        },
      }

    return {}
  }
</script>

<script lang="ts">
  import EmbeddedVideo from "$lib/EmbeddedVideo.svelte"
  import Form from "$lib/Form.svelte"
  import { FormFieldType } from "$lib/form-utilities"
  export let formError: string | undefined = undefined
  export let formSubmitted = false
</script>

<img
  src="https://res.cloudinary.com/mayfield/image/upload/f_auto,q_auto:best/v1620919320/5-year.png"
  width="1200"
  height="466"
  alt="5th Anniversary Celebration"
/>
<div class="button-container">
  <a class="button" href="/donate" rel="external noopener">Donate</a>
</div>

<section>
  <p>
    Ruth's Gleanings empowers people in nutritional poverty by increasing access to healthy, fresh
    food.
  </p>
  <p>We do this primarily through our Gleaning program and our FoodShare Spartanburg program.</p>
  <p>
    Our Gleaning program bridges that gap between food waste and nutritional poverty by rescuing
    excess fresh, healthy food and distributing it to partner organizations who serve those in need.
  </p>
  <p>
    FoodShare Spartanburg connects families and communities to nutrition through a bi-weekly,
    affordable box of fresh fruits and vegetables.
  </p>
</section>

<div class="wrapper" style="display: contents">
  <EmbeddedVideo
    youtubeID="ry1EdAE6a7U"
    previewTitle="Ruth's Gleanings: Our 5th Year Celebration"
    maxResolutionThumbnailAvailable={false}
  />
</div>

<section>
  <h1>Join Our Mailing&nbsp;List</h1>
  <Form
    action="/api/newsletter"
    formFields={[FormFieldType.Name, FormFieldType.Email]}
    submitText="Subscribe"
    error={formError}
    submitted={formSubmitted}
    success={formError == undefined}
  />
</section>

<section>
  <h1>Contact Us</h1>
  <p>
    Want to get in touch? Send us an email at <a href="mailto:connect@ruthsgleanings.com"
      >connect@ruthsgleanings.com</a
    >
  </p>
</section>

<style>
  img {
    height: auto;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.6rem;
    padding: 2em 1em 0;
    max-width: 40em;
  }

  .button {
    font-weight: bold;
    color: var(--dark-green);
    text-decoration: none;
    background-color: var(--orange);
    padding: 0.9em 1.5em;
    margin: 0.5em 1em;
    border-radius: 0.3em;
  }
  .button:hover {
    background-color: hsl(80, 32%, 53%);
  }
  .button:active {
    background-color: hsl(80, 32%, 46%);
  }

  @media (min-width: 500px) {
    .wrapper {
      --iframe-width: calc(100vw - 4rem);
      --max-width: 1400px;
    }
  }
</style>
