<section>
  <h1>Our Team</h1>

  <h2>Staff</h2>
  <p>Tonja Ruth Smith: Founder / Executive Director</p>
  <p>Terri Smith: FoodShare Administrator</p>
  <p>Channing Houser: FoodShare Coordinator</p>
  <p>Forest Reynolds: Logistics Coordinator</p>
  <p>Cale Nelson: Operations Manager</p>

  <h2>Board of Directors</h2>
  <p>Tracy Spake: Board Chair</p>
  <p>Delton Vereen: Vice Chair/Treasurer</p>
  <p>Tracie Easterling: Secretary</p>
  <p>Gwen Bullock: Board Director</p>
  <p>Nannie Jefferies: Board Director</p>
  <p>Dale Lockamy: Board Director</p>
  <p>Rob Nelson: Board Director</p>
  <p>Andres Gonzalez: Board Director</p>
  <p>David Smith: Advisory Board</p>
  <p>Anna Gonzalez: Advisory Board</p>

  <h2>Volunteers</h2>
  <p>
    We could not function without our many volunteers, which are too many to list, but are vital and
    appreciated. Thank you for being part of our team!!!
  </p>
</section>
