<script context="module" lang="ts">
  import type { Load } from "@sveltejs/kit"

  export const load: Load = ({ page }) => {
    if (page.query.has("submitted"))
      return {
        props: {
          formError: page.query.get("error"),
          formSubmitted: true,
        },
      }

    return {}
  }
</script>

<script lang="ts">
  import Form from "$lib/Form.svelte"
  import { FormFieldType } from "$lib/form-utilities"
  export let formError: string | undefined = undefined
  export let formSubmitted = false
</script>

<section>
  <h1>Volunteer Form</h1>
  <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong></p>
  <Form
    action="/api/volunteer"
    formFields={[
      FormFieldType.Name,
      FormFieldType.Email,
      FormFieldType.Phone,
      FormFieldType.Address,
      FormFieldType.ContactMethod,
      FormFieldType.Affiliation,
      FormFieldType.Involvement,
      FormFieldType.Availability,
    ]}
    error={formError}
    submitted={formSubmitted}
    success={formError == undefined}
  />
</section>
