@import "modern-normalize";

:root {
  font-size: 16px;
  --iframe-width: 100vw;
  --iframe-aspect-ratio: calc(16 / 9);
  --max-width: 100vw;
  --max-vw: 100vw;

  --navy: hsl(209, 86%, 25%);
  --blue: hsl(210, 43%, 41%);
  --baby-blue: hsl(193, 100%, 68%);
  --yellow: hsl(50, 75%, 60%);
  --orange: hsl(34, 100%, 50%);
  --brown: hsl(16, 70%, 12%);
  --light-brown: hsl(34, 100%, 20%);
  --lighter-brown: hsl(34, 100%, 25%);
  --red: hsl(0, 100%, 50%);
  --redorange: hsl(15, 100%, 70%);
  --dark-green: hsl(80, 50%, 20%);
  --grass-green: hsl(80, 40%, 50%);
  --green: hsl(80, 100%, 50%);
  --light-green: hsl(80, 30%, 75%);
  --black: hsl(0, 0%, 0%);
  --pink: hsl(0, 100%, 85%);
  --light-grey: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 93%);
}

* {
  max-width: min(100%, var(--max-width), var(--max-vw));
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
